---
import portrait from '@/assets/deniz-binay-portrait.jpg'
import Dropdown from '@/components/Dropdown.astro'
import HeaderItem from '@/components/layout/HeaderItem.astro'
import MobileNavToggle from '@/components/layout/MobileNavToggle.astro'
import Separator from '@/components/layout/Separator.astro'
import ModeToggle from '@/components/mode/ModeToggle.astro'
import config from '@/theme.config'
import type {
  HeaderItem as HeaderItemType,
  NavItem as NavItemType
} from '@/types'
import { Image } from 'astro:assets'

export interface Props {
  activeHeaderLink?: string
}

const { activeHeaderLink } = Astro.props

export const isNavItem = (item: HeaderItemType): item is NavItemType =>
  Object.hasOwn(item, 'href')
---

<header>
  <a href="#main" class="absolute -top-full left-8 px-2 py-2 focus:top-8"
    >Skip to main content</a
  >
  <div class="flex justify-between py-4 sm:py-8">
    <a
      href="/"
      class="text-accent flex items-center justify-center gap-4 text-xl font-semibold"
    >
      <Image
        loading="eager"
        alt="Portrait of Deniz Binay"
        src={portrait}
        class="h-[24px] w-[24px] rounded-full object-cover sm:h-8 sm:w-8"
      />
      {config.title}
    </a>
    <nav class="hidden flex-col justify-end sm:flex">
      <ul class="flex gap-6">
        {
          config.navbarItems.map((item) => (
            <li class="flex flex-col justify-center">
              {isNavItem(item) ? (
                <HeaderItem
                  {item}
                  isActive={
                    activeHeaderLink === item.label ||
                    activeHeaderLink === item.href
                  }
                />
              ) : (
                <Dropdown {item} {activeHeaderLink} />
              )}
            </li>
          ))
        }
        <li class="text-2xl">
          {config.modeToggle && <ModeToggle />}
        </li>
      </ul>
    </nav>
    <div class="flex items-center justify-center gap-4 text-2xl sm:hidden">
      {config.modeToggle && <ModeToggle />}
      <MobileNavToggle />
    </div>
  </div>
  <Separator />
  <div id="mobile-nav" class="hidden">
    <nav class="flex-col justify-end py-6">
      <ul class="flex flex-col items-center gap-2">
        {
          config.navbarItems.map((item) => (
            <li class="flex flex-col justify-center">
              {isNavItem(item) ? (
                <HeaderItem
                  {item}
                  isActive={
                    activeHeaderLink === item.label ||
                    activeHeaderLink === item.href
                  }
                />
              ) : (
                <Dropdown {item} {activeHeaderLink} />
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
  </div>
</header>
